.dots/.config/nvim/lazy-lock.json
dots/.config/lazygit/state.yml
dots/.config/helix/runtime/grammars
.ansible-auto.txt
.vagrant
dots/ssh_key
dots/ssh_key.pub
dots/.config/helix/runtime
dots/.config/quitebrowser/theme.py
dots/.config/quitebrowser/__pycache__
dots/.config/quitebrowser/autoconfig.yml
.crush/logs
.crush
dots/.config/Wallpapers
dots/.config/fish/conf.d
dots/.config/fish/fish_variables
