.dots/.config/nvim/lazy-lock.json
dots/.config/lazygit/state.yml
dots/.config/helix/runtime/grammars
.ansible-auto.txt
.vagrant
dots/ssh_key
dots/ssh_key.pub
dots/.config/helix/runtime
dots/.config/quitebrowser/theme.py
dots/.config/quitebrowser/__pycache__
