Config(
    x: Fraction(0.5),
    y: Fraction(0.35),
    width: Absolute(800),
    height: Fraction(0),
    position: Center,
    hide_icons: false,
    hide_plugin_info: true,
    ignore_exclusive_zones: false,
    width: Absolute(800),
    layer: Top,
    close_on_click: true,
    plugins: []
)
