/* macchiato.css */
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: @base;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border: 2px solid @lavender;
}

#workspaces button {
    padding: 5px;
    margin-right: 5px;
    color: @text;
}

#workspaces button.focused { background: @mauve; }
#workspaces button.urgent { color: @red; background: @mantle; }
#workspaces button:hover { background: @surface2; color: @lavender; }

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#custom-podmantoolbox,
#placeholder {
    background: @mantle;
    opacity: 0.8;
    padding: 0 10px;
    margin: 5px 0;
    border: 1px solid @crust;
    border-radius: 10px;
}

#clock,
#network,
#bluetooth,
#tray,
#backlight,
#battery,
#workspaces {
    margin-right: 10px;
}

#workspaces {
    margin-left: 10px;
}

#clock {
    color: @rosewater;
    padding: 0 15px;
}

#network {
    color: @peach;
    padding-right: 17px;
}

#bluetooth {
    color: @maroon;
}

#pulseaudio {
    color: @blue;
    border-left: 0;
    border-right: 0;
    padding-left: 17px;
    border-radius: 10px 0 0 10px;
}

#pulseaudio.microphone {
    color: @teal;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
}

#battery {
    color: @sapphire;
    padding: 0 15px;
    border-left: 0;
}
