/* macchiato.css */
@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color mauve #c6a0f6;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color yellow #eed49f;
@define-color green #a6da95;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color text #cad3f5;
@define-color subtext1 #b8c0e0;
@define-color subtext0 #a5adcb;
@define-color overlay2 #939ab7;
@define-color overlay1 #8087a2;
@define-color overlay0 #6e738d;
@define-color surface2 #5b6078;
@define-color surface1 #494d64;
@define-color surface0 #363a4f;
@define-color base #24273a;
@define-color mantle #1e2030;
@define-color crust #181926;

* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: @base;
}

tooltip {
    background: @base;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @lavender;
}

#workspaces button {
    padding: 5px;
    color: @text;
    margin-right: 5px;
}

#workspaces button.focused {
    background: @mauve;
}

#workspaces button.urgent {
    color: @red;
    background: @mantle;
}

#workspaces button:hover {
    background: @surface2;
    color: @lavender;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#workspaces,
#tray,
#backlight,
#placeholder {
    background: @mantle;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid @crust;
}

#workspaces {
    border-radius: 10px;
    margin-left: 10px;
}

#backlight {
    border-radius: 10px;
    margin-right: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#clock {
    color: @rosewater;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 15px;
    border-right: 0px;
}

#network {
    color: @peach;
    border-radius: 10px;
    padding-right: 17px;
    margin-right: 10px;
}

#bluetooth {
    color: @maroon;
    border-radius: 10px;
    margin-right: 10px;
}

#pulseaudio {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
    padding-left: 17px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: @teal;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: @saphire;
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 15px;
    border-left: 0px;
}
