[user]
	name = sawyer bristol
	email = sawyerbristol@gmail.com
[credential "https://github.com"]
	username = LegitCamper
[credential "https://dev.azure.com"]
	useHttpPath = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
