layout {
    tab split_direction="vertical" hide_floating_panes=true {
		pane size="32%" 
        pane size="35%" name="helix" focus=true command="fish" {
            args "-Pc helix ."
        }
        pane size="33%"
        
        floating_panes {
            pane name="git" command="lazygit" {
                y "10%"
                width "50%"
                height "80%"
            }
        }
    }
}
