layout {
    tab name="Git" {
        pane name="lazygit" command="lazygit"
    }
    tab name="Development" split_direction="vertical" {
        pane name="else" size="25%"
        pane name="helix" command="helix" args="./"
        pane name="compiler" size="25%"
    }
}
